<template>
  <div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'api',

  data: () => ({
    info: '',
    fullnews: [],
    lastnews: {},
    counter: 0,
  }),
  mounted(){
    this.DownloadNews()
  },
  updated(){
    console.log('Обновились')
  },
  methods: {
    getnews: function(info) {
      //console.log("метод вызвался")
      for (let i of info) {
        //console.log(i)
        axios.get(`https://hacker-news.firebaseio.com/v0/item/${i}.json?print=pretty`)
        .then(response => (this.fullnews.push(response.data)))
      }
      this.$store.commit('AddNews', this.fullnews)
    },
    DownloadNews: async function(){
      await axios
      .get('https://hacker-news.firebaseio.com/v0/newstories.json?print=pretty&orderBy="$key"&limitToFirst=15')
      .then(response => (this.info = response.data, this.getnews(this.info)))
    },
  },
};
</script>
