<template>
    <div :key="componentKey">
       <v-container>
         <div class="refresh_button">
          <v-btn @click="refresh()"
                  icon
                  color="green"
                >
                  <v-icon>mdi-cached</v-icon>
            </v-btn>
          </div>
         <v-row
          class="d-flex justify-space-between"
          flat
          tile
         >
          <v-col 
            v-for="news in this.loadnews" :key="news.id"
            class="d-flex justify-center"
          >
            <router-link :to="{ name: 'item', params: { id: news.id } }">
              <v-card>
              <h1>

              </h1>
          
              <v-card-title>
                {{ news.title }}
              </v-card-title>
          
              <v-card-text>
                {{ convertDate(news.time) }}
              </v-card-text>
          
              <v-list-item class="grow">
                    <v-list-item-avatar color="grey darken-3" >
                      <v-img
                        class="elevation-6"
                        src="https://avataaars.io/?

          avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Defa

          ult&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                        left
                      ></v-img>
                    </v-list-item-avatar>
            
                    <v-list-item-content>
                      <v-list-item-title> {{ news.by }} </v-list-item-title>
                    </v-list-item-content>
                    <v-rating
                      :value="news.score"
                      color="amber"
                      dense
                      half-increments
                      readonly
                      size="17"
                    ></v-rating>
                  </v-list-item>
                </v-card>
              </router-link>
            </v-col>
          </v-row>
        </v-container>
    </div>
</template>


<script>
// eslint-disable-next-line no-unused-vars

export default {
    name: 'MainPage',
    data: () => ({ 
      counter: 0,
      LastNews: {},
      date: '',
      componentKey: 0,
    }),
    mounted(){
      this.$store.commit('setDate', this.convertDate)
    },
    computed: {
      loadnews: function(){
       return this.$store.getters.STATE_NEWS
      }
    },
    methods: {
      convertDate: function(timestamp){
        var d = new Date(timestamp * 1000), // Convert the passed timestamp to milliseconds
        yyyy = d.getFullYear(),
        mm = ('0' + (d.getMonth() + 1)).slice(-2),  // Months are zero based. Add leading 0.
        dd = ('0' + d.getDate()).slice(-2),         // Add leading 0.
        hh = d.getHours(),
        h = hh,
        min = ('0' + d.getMinutes()).slice(-2),     // Add leading 0.
        ampm = 'AM',
        time;

        if (hh > 12) {
            h = hh - 12;
            ampm = 'PM';
        } else if (hh === 12) {
            h = 12;
            ampm = 'PM';
        } else if (hh == 0) {
            h = 12;
        }

        // ie: 2014-03-24, 3:00 PM
        time = yyyy + '-' + mm + '-' + dd + ', ' + h + ':' + min + ' ' + ampm;
        return time;
     },
     refresh: function(){
       console.log(this.componentKey)
       this.componentKey += 1
     } 
    }
}
</script>

<style scoped>
  a {
    text-decoration: none;
  }

  .refresh_button{
    display: grid;
    justify-content: center;
  }

  .v-card:hover{ 
    box-shadow: 2px 8px 45px rgba(32, 15, 15, 0.15);
    transform: translate3D(0, -5px, 0);
    cursor: pointer;
  }

  .v-row {
    width: 100%;
  }

  .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 340px;
    margin-top: 0px;
  }

  .v-card {
    height: 430px;
    width: 320px;
  }

  .v-card__title {
    height: 104px;
    word-break: normal;
    overflow: hidden;
    padding: 0;
    margin: 16px;
  }

  .v-card__text{ 
    padding-top: 16px;
  }

  .v-card h1 {
    height: 200px;
    background-image: linear-gradient(120deg, #003366 0%, #339966 100%);
  }

  .col:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #33ccff 0%, #cc66ff 100%);
  }

  .col:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #0066ff 0%, #66ffcc 100%);
  }

  .col:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #000066 0%, #99ccff 100%);
  }

/*d*/
</style>