<template>
  <div>
    <!-- {{ $route.params.id }} -->
      <v-container>
          <v-row>
            <v-col class="">
               <v-card
                class="mb-6"
                max-width="500px"
                flat
                tile
              >
                <v-card class="news_text" v-if="Item"><!--height="500px"-->
                  <div onclick="javascript:history.back()">
                    <v-btn
                      class="ma-2"
                      color="orange darken-2"
                      dark
                    >
                      <v-icon
                        dark
                        left
                      >
                        mdi-arrow-left
                      </v-icon>Back
                    </v-btn>
                  </div>
                  <h1> {{ Item.title }} </h1>
                  <div class="author">
                    <p>
                      {{ Item.by }}
                    </p>
                    <p v-if="Item.time && this.getDate">
                      {{ checkDate(Item.time) }}
                      
                    </p>
                    <p v-else>
                      {{ convertDate(Item.time) }}
                    </p>
                  </div>
                  <a href="#" id="read_more_link">
                    <v-btn
                      class="ma-2 read_more_button"
                      outlined
                      color="indigo"
                    >
                      Read More
                    </v-btn>
                  </a>
                </v-card>
                <v-card v-else>
                  Идёт загрузка
                </v-card>
              </v-card>
            </v-col>
          </v-row>
      </v-container>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'NewsPage',

  components: {

  },

  data: () => ({
    Item: ''
  }),
  mounted(){
    this.DownloadItem()
  },
  computed: {
    getDate: function(){
      return this.$store.getters.STATE_DATE
    }
  },
  methods:{
    DownloadItem: async function(){
      await axios
      .get(`https://hacker-news.firebaseio.com/v0/item/${this.$route.params.id}.json?print=pretty`)
      .then( response => (this.Item = response.data /*, console.log(this.Item)*/))
      const link = document.getElementById('read_more_link')
      link.setAttribute('href', this.Item.url)
    },
    checkDate: function(){
      const newData = this.getDate
      //console.log(newData(this.Item.time))
      return newData(this.Item.time)
    },
    getComments: function(){
      console.log('Privet')
    },
    convertDate: function(timestamp){
        var d = new Date(timestamp * 1000), // Convert the passed timestamp to milliseconds
        yyyy = d.getFullYear(),
        mm = ('0' + (d.getMonth() + 1)).slice(-2),  // Months are zero based. Add leading 0.
        dd = ('0' + d.getDate()).slice(-2),         // Add leading 0.
        hh = d.getHours(),
        h = hh,
        min = ('0' + d.getMinutes()).slice(-2),     // Add leading 0.
        ampm = 'AM',
        time;

        if (hh > 12) {
            h = hh - 12;
            ampm = 'PM';
        } else if (hh === 12) {
            h = 12;
            ampm = 'PM';
        } else if (hh == 0) {
            h = 12;
        }

        // ie: 2014-03-24, 3:00 PM
        time = yyyy + '-' + mm + '-' + dd + ', ' + h + ':' + min + ' ' + ampm;
        return time;
     }
  }
};
</script>

<style scoped>

  a {
    text-decoration: none;
  }

  .news_text{
    text-align: center;
  }

  .news_text h1 {
    padding: 15px;
  }

  .v-btn--outlined, .v-btn--flat, .v-btn--text {
    background-color: palegreen;
    margin-top: 40px;
    margin-bottom: 15px;
}

  .author{
    display: flex;
    justify-content: center;
  }

  .author p{
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }

  .comment{
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: green !important;
  }

</style>