<template>
  <div>
    <router-view></router-view>
    <Api></Api>
  </div>
</template>

<script>
import Api from './api/api'

export default {
  name: 'App',

  components: {
    Api
  }
};
</script>
